.flex {
    display: flex;
}
.col-1 {
    flex-flow: column nowrap;
    align-items: center;
}
.blurbg {
    margin: 0;
    color: #000;
    display: flex;
    flex-flow: column nowrap;
    font-weight: 200;
    font-size: 12px;
    font-family: "Oxygen Mono", monospace;
    border-radius: 3em;
    justify-content: space-around;
    padding: 10px;
    height: auto;
    max-width: 20em;
    /*animation*/
    transition: all 0.5s ease-in-out;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    background-color: rgba(228, 234, 248, 0.705);
}
.blurbg:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.blurbg:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.flex-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-img img {
    border-radius: 2em;
    width: 90%;
}

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    position: relative;
    grid-gap: 1em;
    width: 95vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
}

.defaultText {
    color: rgba(0, 0, 0, 0.671);
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.productDetailCentered {
    margin: 2rem;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 650px;
}
.productDetailCentered img {
    width: 80%;
    border-radius: 8px;
}

.contador {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
}
