.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    pointer-events: none;
    width: 6rem;

    margin-left: 60px;
}
.logo-container img {
    width: 60%;
}
