nav {
    margin-top: 20px;
    display: flex;
    height: 4rem;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.itemNav {
    height: 2.5rem;
    list-style-type: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.itemNav:hover {
    filter: invert(90%);
    transform: scale(1.2);
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    pointer-events: none;
    width: 6rem;
    font-size: small;
    font-weight: 800;
}
.logo-container img {
    width: 80%;
}
